<div id="users">
	<ul>
		<% @users.each do |u| %>
			<li>
				<%= u.name %>
				<%= link_to "Add Friend", friendships_path(friend_id: u), method: :post %>
			</li>
		<% end %>
	</ul>

	<div class="button-bar">
  <ul class="button-group">
    <li><%= link_to "Sign Out", logout_path, method: "delete", class:"small button" %></li>
    <li><a href='#' id='geolocate', class="small button">Find me</a></li>
    <li><%= link_to "Friends", users_path, method: "get", class:"small button" %></li>
  </ul>
  </div>
</div>