<div id="users">
	<table class="table">
		<% @users.each do |u| %>
			<tr>
				<td><%= u.name %></td>
				<td><%= link_to "Add Friend", friendships_path(friend_id: u), method: :post %></td>
			</tr>
		<% end %>
	</table>
</div>