<section id="wrapper">
  Click the allow button to let HALFGAP find your location.  
    
    <article>
    <!--mapcanvas goes here-->
    </article>

    <!--creates a div with an ID of mapcontainer with the height and width sizes-->
    <script>
      function success(position) {
        var mapcanvas = document.createElement('div');
        mapcanvas.id = 'mapcontainer';
        mapcanvas.style.height = '400px';
        mapcanvas.style.width = '600px';

        //This appends mapcanvas to Article above
        document.querySelector('article').appendChild(mapcanvas);

        //the coords variable gets the user's lat ans lon and passes them to the success function
        var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        
        var options = {
          zoom: 15,  //initial zoom setting
          center: coords,  //centers on coordinates
          mapTypeControl: true,  //true adds the satellite option
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL  //Control the size of the zoom tool
          },
          mapTypeId: google.maps.MapTypeId.SATELLITE  //Or change to ROADMAP, the default view
        };

        //passes in mapcontainer and map options
        var map = new google.maps.Map(document.getElementById("mapcontainer"), options);

        //Will set the marker specifics
        var marker = new google.maps.Marker({
            position: coords,
            animation: google.maps.Animation.DROP, //Drops in the marker
            map: map,
            title:"What's up GA!"  //Change rollover text
        });
      }

      // This checks to see if your browser supports Geolocation and passes success callback function
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
      } else {
        error('Geo Location is not supported');
      }

    </script>
</section>


<!-- <br>
<br>
<div id="newrest">
	 <div id="newrestbox">
      <%= @user.name %>
      <%= @user.email %>
    <div id="map-canvas"/>
  </div>
</div> -->




