<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left tab-bar-section">
        <h1 class="title">Half Gap</h1>
      </section>
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Friends</label></li>
        <% @user.friendships.each do |f| %>
            <li>
              <a href="#"><%=h f.friend.name %></a>
              <%# link_to "remove", friendship_path(f.id), method: :delete %>
            </li>
          <% end %>
      </ul>
    </aside>
    <section class="main-section">
      <div class="page-container">
        
        <div class="greeting-div">
          Welcome <%= @user.name %>!
        </div>
        <div class="newrest">
          <div id="map-container"></div
        </div>
      </section>
      <!-- <footer class="bottom-menu"></footer> -->
      <nav class="navbar-fixed-bottom" role="navigation">
      </nav>
    </div>
  <a class="exit-off-canvas"></a>
  </div>
</div>