<% content_for :content do %>
	<div id="mr_index">
		<% @meet_requests.each do |r| %>
			<%= r.option %>
			<%= r.message %>
			<!-- <input type="button" id="confim_meet_link" value="confirm request"> -->
			<%= link_to "confirm", confirm_meetup_path(r.id), method: :patch %><br>
		<% end %>
	</div>
<% end %>