<div class="home_container">

	<div>
		<%= image_tag "halfgaplogo2.png", class:"welcomeimage" %>
	</div>
	
	<div class="auth_container">
		<div class="home_links"><%= link_to "LOG IN", new_authentication_path, id: "login" %></div>
		<div id="signup" class="home_links"><%= link_to "SIGN UP", new_user_path, id: "signup" %></div>
	</div>
</div>