<div class="page_container">
	<div class="home_container">
		<div id="logo_container">
			<%= image_tag "halfgap_logov3.svg", id: "main_logo" %>
		</div>

		<div>
			<%= image_tag "clouds.svg", id: "clouds" %>
		</div>
					
			<div class="auth_container">
				<div id="login2" class="home_links"><%= link_to "LOG IN", new_authentication_path, id: "login" %></div>
				<div id="signup" class="home_links"><%= link_to "SIGN UP", new_user_path, id: "signup" %></div>
			</div>
		
	</div>

</div>

<script>
$(function(){
	$( "#main_logo" ).click(function() {
	  $('this').effect( "shake" );
	});
})
</script>
