<% content_for :content do %>
        <h1><%= @friendship.friend.name %></h1>

        <!-- <form id="meetUpForm"> 
          <select id="meet_for">
            <option value="1" selected="selected" disabled="disabled">Meet For:</option>
            <option value="1">Coffee</option>
            <option value="2">Alcohol</option>
            <option value="3" >Bars</option>
            <option value="4">Food</option>
          </select>
          <input type="text" id="or_type_here">
          <input type="submit" value="Meet Up!" id="meetUpButton">  
        </form>  -->  

        <%= render "meet_requests/form" %>   
<% end %>