@import 'bootstrap';

body {
	margin: 0;
	font-family: HelveticaNeue !important;
	background-color: #eae66e;
}

.tab-bar {
	z-index: 1;
}

.title {
	font-family: Comfortaa;
	color: #FFD700 !important;
	text-align: left !important;
}

.greeting-div {
	background: white;
	position: absolute;
	top: 44px;
	left: 0px;
	font-size: 12px;
	padding: 8px;
	border-bottom: 1px solid #eae66e; 
	font-weight: bold;
	color: #333;
	z-index: 0;
}

#map-canvas { 
 	height: 500px;
 	width: 320px;
 	margin: 20px auto;
 	position: absolute;
 	top: 175px;
 	left: -75px;
 	padding: 50px;	
}

#newrest {
	margin: 0 auto;
	width: 350px;	
	position: relative;
	margin-top: 50px;

}

#restlist {
	margin: 0 auto;
	width: 800px;	
	position: relative;
	margin-top: 50px;
}

#newrestbox {
	margin: 0 auto;
	width: 350px;
	background-color: rgba(205, 45, 45, 0.9);
	color: black;
	border-radius: 20px;
	padding: 20px;
	position: absolute;
}

.navbar-fixed-bottom {
	width: 100%;
	height: 43px;
	background: #333;
}
