body {
	// font-family: helvetica;
	margin: 0;
}

.navbar {
	background: black;
	color: white;
}

#map-canvas { 
 	height: 500px;
 	width: 500px;
 	margin: 20 auto;
 	position: absolute;
 	top: 175px;
 	left: -75px;
 	padding: 50px;
}

#newrest {
	margin: 0 auto;
	width: 350px;	
	position: relative;
	margin-top: 50px;
}

#restlist {
	margin: 0 auto;
	width: 800px;	
	position: relative;
	margin-top: 50px;
}

#newrestbox {
	margin: 0 auto;
	width: 350px;
	background-color: rgba(205, 45, 45, 0.9);
	color: black;
	border-radius: 20px;
	padding: 20px;
	position: absolute;
}
