<nav class="tab-bar">
  <%= render "layouts/backlink" unless @backlink %>
	<section class="right-small">
	  <a class="right-off-canvas-toggle" ><span class="glyphicon glyphicon-cog"></span></a>
	</section>
</nav>

<aside class="right-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Settings</label></li>
		  <li><%= link_to "FIND FRIENDS", users_path, method: "get" %></li>
		  <li><%= link_to "SIGN OUT", logout_path, method: "delete", id: "signout" %></li>
	</ul>
</aside>