<nav class="tab-bar">
  <section class="left tab-bar-section">
    <%= image_tag "halfgap_logo.svg" %>
  </section>
	<section class="right-small">
	  <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
	</section>
</nav>